<html>
  <head>
    <meta name="viewport" content="width=device-width,intial-scale=1" />

    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="card-container">
      <div class="login-card">
        <!--<form action="mail.html"> -->
        <h3>Change Password :</h3>
        <p id="error_id"></p>
        <div class="input-row">
          <label class="input-row-label">Enter your new password</label><br />
          <input
            id="pass_id"
            placeholder="Enter new password"
            class="input-row-input"
          />
        </div>
        <div class="input-row">
          <label class="input-row-label">Re-enter new password</label><br />
          <input
            id="pass1_id"
            placeholder="re-enter new password"
            class="input-row-input"
          />
        </div>
        <!-- Row - 4 -->
        <button onclick="onSave()" class="design">save</button>
        <!-- </form> -->
      </div>
    </div>
  </body>
  <script>
    const onSave = async () => {
      const passElement = document.getElementById("pass_id");
      const passElement1 = document.getElementById("pass1_id");
      var obj = {
        password: passElement.value,
        password1: passElement1.value,
      };
      console.log(obj);
      var url = "http://localhost:4005/api/reset-password/:id";

      var response = await fetch(url, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(obj),
      });
      var response = await response.json();
      var error = document.getElementById("error_id");
      if (response.status === false) {
        error.innerText = response.msg;
        error.style.color = "red";
      } else {
        error.innerText = "";
        window.location.href = "index.html";
      }
    };
    //window.location.href = "index.html"
  </script>
</html>
